<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.android.NotificationManeger.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.android.NotificationManeger.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- ###  Register service get token and send it to service  ### -->
        <service android:name="com.example.android.NotificationManeger.FCMRegistrationService" />
        <activity
            android:name="com.example.android.Category.MainCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.Category.SubCategoryActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.AboutUsActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.LoginSystem.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.LoginSystem.RegisterActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.LoginSystem.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.LoginSystem.ForgetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.ContactWithUsActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.BankAccountActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.Cart.ShowCartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.FavoriteProductActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.UpdateUserPasswordActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.Address.AddShippingAddressActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Address.ShowAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.ShowSingleProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.Cart.CompletePaymentActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Cart.ShowCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.Address.ShowAddressActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.ShowOrdersHistoryActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SlideMenu.TrackingShipmentActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.example.android.Category.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.ProductRecycleView.ShowProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.android.SearchForProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>